body {
    background-color: black;
    margin: 5%;
    font-family: 'Times New Roman', Times, serif;
    overflow-y: hidden;
}

input{
    margin-top: 5%;
    padding: 5% 3%;
    font-size: 15px;
}

a{
    margin-left: -0.7%;
}

h1 {
    color: white;
    border: 1px solid white;
    padding: 2%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#login-title{
    text-align: center;
}

#login-form{
    display: flex;
    flex-direction: column;
}

.rightColumn {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22.5%;
    padding-right: 25%;
}

.logo {
    grid-column: 1;
    width: 35em;
    height: auto;
    padding-left: 20%;
    padding-top: 0%;
}
