body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.white-text{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.black-text{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.basic-button{
    display: block;
    margin: 2% 1%;
    background-color: white; 
    color: black; 
    padding: 1.5%; 
    border-radius: 10%;
}
.basic-button:hover{
    background-color: black;
    color: white;
}

.margins-needed{
    margin: 3%;
}

.margins2-needed{
    margin: 2%;
}

a {
    text-decoration: none;
    color: inherit;
    /* cursor: default; */
    /* pointer-events: none;  */
}

.alert {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.2%;
    background-color: white; 
    color: black;
    margin: 0 auto;
    width: 50%;
}
  
.closebtn {
    margin-left: 1%;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: white;
}

.alertText{
    padding: 0;
    margin: 1%;
}