.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden; 
}

.leftColumn{
    grid-column: 1;
    position: fixed; 
    top: 0; 
    bottom: 0; 
    width: calc(20%);
    padding: 1.5%;
    border: solid 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
}

.rightColumn{
    grid-column: 2;
    margin-left: calc(1% - 8em);
    overflow-y: auto;
}