body {
    background-color: black;
    margin: 5%;
    font-family: 'Times New Roman', Times, serif;
    overflow-y: hidden;
}

input{
    margin-top: 5%;
    padding: 5% 3%;
    font-size: 15px;
}

a{
    margin-left: -0.7%;
}

h1 {
    color: white;
    border: 1px solid white;
    padding: 2%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#login-title{
    text-align: center;
}

#login-form, #registration-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

.rightColumn {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-right: 25%;
}

.logo {
    grid-column: 1;
    width: 35em;
    height: auto;
    padding-left: 20%;
    padding-top: 0%;
}

@media (max-width: 992px) {
    .container {
        grid-template-columns: 1fr;
    }
    .rightColumn {
        grid-column: 1;
        padding-right: 0;
        padding-top: 5%;
        align-items: center;
    }
    body {
        margin: 2%;
    }
    input {
        font-size: 13px;
        padding: 4% 2%;
        margin: 5% 0;
    }
    h1 {
        padding: 1%;
        font-size: 1.5em;
    }
    
}
