.listing-container{
    border: 5px solid black;
    width: calc(30%);
    box-sizing: border-box; 
    padding: 5px;
    margin-top: 3%;
}

.rightColumnListings{
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    overflow-y: auto;
    margin-left: calc(1% - 8em);
}