.listing-container{
    border: 5px solid black;
    width: calc(47.5%);
    box-sizing: border-box; 
    padding: 5px;
}

.rightColumnListings{
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    overflow-y: auto;
    margin-left: calc(1% - 8em);
}