.central-container{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    padding: 5px;
    text-align: center;
    margin-top: 5%;
}

input{
    width: 65%;
    padding: 3px 0;
    margin: 2% auto;
    font-size: 18px;
}

.central-container button{
    margin: 5% auto 5px auto;
}